
html {
	background: #fff url(background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header {
    display: block;
}

.intro { 
	color: #1010f0; 
}

.intro h1 { 
	font: italic normal 3.4em georgia, sans-serif;
	letter-spacing: 1px; 
	color: #1010f0;
}
.intro h2 { 
	font: italic normal 2.4em georgia, sans-serif;
}
.intro h3 { 
	font: italic normal 1.4em georgia, sans-serif;
}

.intrologo { 
	float: right; 
}


.navmenu {
    font: normal 1.0em georgia, sans-serif;
    padding: 0; 
    margin: 0; 
    list-style: none;
}
.navmenu li {
    float:left; 
    padding-top:2px;
    //background: yellow; 
}
.navmenu li a b {
    display:block; 
    width:100px; 
    line-height:40px; 
    float:left; 
    padding:0px 10px 0px 10px; 
    //background: red;
    color: darkblue;
    cursor:pointer;
    text-decoration:none;
}


.navmenu a:hover b:hover {
    //background-position:left -51px;
    //height:40px;
    //background: red;
    color: white;
}

.tc-index #tc-navmenu #home a b, 
.tc-diary #tc-navmenu #diary a b, 
.tc-tracklist #tc-navmenu #tracklist a b, 
.tc-history #tc-navmenu #history a b{
    background: darkblue; 
    color: lavender;
    width:100px;
}


.info {
    float:left;
    width:100%;
}

.column1 {
    float:left;
    width:100%;
    background:yellow;
    position:relative;
    right:25%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font: georgia, sans-serif;
	color: indigo; 
}

.column2 {
    float:left;
    width:100%;
    background:yellow;
    position:relative;
    overflow:hidden;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font: 90% georgia, sans-serif;
	color: indigo; 
}

.info {
    float:left;
    width:68%;
    position:relative;
    left:26%;
    overflow:hidden;
}

.sidebar {
    float:left;
    width:32%;
    position:relative;
    left:32%;
    overflow:hidden;
}

.infotext {
    margin-left: 5%;
}


.info h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	color: #1010f0;
}
.info a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #1010f0;
}
.info a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #555753;
}
.info a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
}

.infofooter { 
	text-align: center; 
}

.links { 
    margin-left: 5%;
	font: normal 1.0em georgia, sans-serif;
}
.links h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	color: #1010f0;
}
.links ul { 
    padding:0;
    list-style-type:none;
}




